// body

// Header- company
.header-menu-wrapper {
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background-color: #333;
}
.ant-menu-overflow-item {
	text-decoration: none;
	background-color: #333 !important;
	color: #fff;
}

.header-menu {
	margin: 0 auto;
	padding: 0;
	width: 80%;
	display: inline-flex;
	justify-content: space-between;
}

.header-menu-link-left {
	line-height: 60px;
}

.header-menu-link-right {
	line-height: 60px;
}

a {
	color: #fff !important;
	border-bottom: none;
}

.header-menu-link {
	width: 90px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	font-weight: bold;
	font-size: large;
	text-decoration: none;
	color: #fff;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	&.avatar {
		color: #fff !important;
		font-size: 300px;
	}
}

.header-menu-link:hover {
	margin: 0;
	color: #54d5dad2 !important;
	border: none;
}

// header1
.header {
	margin: 0 auto;
	padding: 0;
	width: 80%;
	display: inline-flex;
	justify-content: space-between;
	background-color: #333;
	display: inline-block;
}

.menu-bar {
	background-color: #333;
	border: none;
}
.menu-item:hover {
	border: none;
	// border-bottom: 3px solid #eee088 !important;
}
.menu-item-link {
	color: #fff !important;
	border-bottom: none;
}
.menu-item-avatar {
	background-color: "transparent";
	color: "black";
}

.menu-item-pop:hover {
	cursor: pointer;
}

// 모달
.ant-modal-wrap {
	background-color: rgba(121, 117, 117, 0.247);
}
