.board-table-top {
	width: 100%;
	text-align: center;

	thead {
		font-size: large;
		font-weight: bold;
	}

	tr {
		height: 50px;
	}
}

.btn-box {
	margin-top: 100px;
	float: right;
	background-color: #54d5dad2 po !important;
}

.title-link {
	text-decoration: none;
	color: darkslategrey !important;
}
