* {
	box-sizing: border-box;
}

.login-box {
	position: absolute;
	top: 140px;
	left: 260px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.login-btn {
		position: relative;
		left: 100px;
		background-color: #006064;
		color: #fff;
	}

	.login-input {
		width: 400px;
	}
}
