* {
	box-sizing: border-box;
}

.main-box {
	.login-item {
		position: absolute;
		top: 250px;
		left: 450px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.login-btn {
		position: relative;
		left: 100px;
		background-color: #006064;
		color: #fff;
	}

	.login-input {
		width: 400px;
	}
}
