.login-box {
	position: absolute;
	right: 200px;
	top: 280px;

	.login-btn {
		width: 500px;
		height: 90px;
		border-radius: 20px;
		background-color: #006064;
		color: #fff;
		font-size: 30px;
	}
}
